# Backend API URL
API_URL=http://localhost:8080
NEXT_PUBLIC_API_URL=http://localhost:8080

# Kakao Maps JavaScript API Key
NEXT_PUBLIC_KAKAO_MAP_JS_KEY=your_kakao_javascript_key

# Web Push
NEXT_PUBLIC_VAPID_KEY=your_webpush_public_key
